.triangle-0 { animation-delay: 0ms; fill: #4e4e4e; }
.triangle-1 { animation-delay: 10ms; fill: #313131; }
.triangle-2 { animation-delay: 20ms; fill: #585858; }
.triangle-3 { animation-delay: 30ms; fill: #6c6c6c; }
.triangle-4 { animation-delay: 40ms; fill: #4e4e4e; }
.triangle-5 { animation-delay: 50ms; fill: #4e4e4e; }
.triangle-6 { animation-delay: 60ms; fill: #878787; }
.triangle-7 { animation-delay: 70ms; fill: #313131; }
.triangle-8 { animation-delay: 80ms; fill: #727272; }
.triangle-9 { animation-delay: 90ms; fill: #949494; }
.triangle-10 { animation-delay: 100ms; fill: #a2a2a2; }
.triangle-11 { animation-delay: 110ms; fill: #858585; }
.triangle-12 { animation-delay: 120ms; fill: #a2a2a2; }
.triangle-13 { animation-delay: 130ms; fill: #a9a9a9; }
.triangle-14 { animation-delay: 140ms; fill: #aaaaaa; }
.triangle-15 { animation-delay: 150ms; fill: #aeaeae; }
.triangle-16 { animation-delay: 160ms; fill: #adadad; }
.triangle-17 { animation-delay: 170ms; fill: #afafaf; }
.triangle-18 { animation-delay: 180ms; fill: #8c8c8c; }
.triangle-19 { animation-delay: 190ms; fill: #9d9d9d; }
.triangle-20 { animation-delay: 200ms; fill: #b0b0b0; }
.triangle-21 { animation-delay: 210ms; fill: #b2b2b2; }
.triangle-22 { animation-delay: 220ms; fill: #b6b6b6; }
.triangle-23 { animation-delay: 230ms; fill: #a0a0a0; }
.triangle-24 { animation-delay: 240ms; fill: #9b9b9b; }
.triangle-25 { animation-delay: 250ms; fill: #959595; }
.triangle-26 { animation-delay: 260ms; fill: #989898; }
.triangle-27 { animation-delay: 270ms; fill: #929292; }
.triangle-28 { animation-delay: 280ms; fill: #9e9e9e; }
.triangle-29 { animation-delay: 290ms; fill: #979797; }
.triangle-30 { animation-delay: 300ms; fill: #8b8b8b; }
.triangle-31 { animation-delay: 310ms; fill: #9c9c9c; }
.triangle-32 { animation-delay: 320ms; fill: #adadad; }
.triangle-33 { animation-delay: 330ms; fill: #a7a7a7; }
.triangle-34 { animation-delay: 340ms; fill: #a1a1a1; }
.triangle-35 { animation-delay: 350ms; fill: #8f8f8f; }
.triangle-36 { animation-delay: 360ms; fill: #a5a5a5; }
.triangle-37 { animation-delay: 370ms; fill: #a0a0a0; }
.triangle-38 { animation-delay: 380ms; fill: #b0b0b0; }
.triangle-39 { animation-delay: 390ms; fill: #a8a8a8; }
.triangle-40 { animation-delay: 400ms; fill: #a4a4a4; }
.triangle-41 { animation-delay: 410ms; fill: #979797; }
.triangle-42 { animation-delay: 420ms; fill: #a9a9a9; }
.triangle-43 { animation-delay: 430ms; fill: #8d8d8d; }
.triangle-44 { animation-delay: 440ms; fill: #9a9a9a; }
.triangle-45 { animation-delay: 450ms; fill: #9e9e9e; }
.triangle-46 { animation-delay: 460ms; fill: #b6b6b6; }
.triangle-47 { animation-delay: 470ms; fill: #a8a8a8; }
.triangle-48 { animation-delay: 480ms; fill: #929292; }
.triangle-49 { animation-delay: 490ms; fill: #b0b0b0; }
.triangle-50 { animation-delay: 500ms; fill: #a4a4a4; }
.triangle-51 { animation-delay: 510ms; fill: #8a8a8a; }
.triangle-52 { animation-delay: 520ms; fill: #9b9b9b; }
.triangle-53 { animation-delay: 530ms; fill: #919191; }
.triangle-54 { animation-delay: 540ms; fill: #9f9f9f; }
.triangle-55 { animation-delay: 550ms; fill: #ababab; }
.triangle-56 { animation-delay: 560ms; fill: #b6b6b6; }
.triangle-57 { animation-delay: 570ms; fill: #a3a3a3; }
.triangle-58 { animation-delay: 580ms; fill: #9f9f9f; }
.triangle-59 { animation-delay: 590ms; fill: #a1a1a1; }
.triangle-60 { animation-delay: 600ms; fill: #c3c3c3; }
.triangle-61 { animation-delay: 610ms; fill: #bebebe; }
.triangle-62 { animation-delay: 620ms; fill: #c2c2c2; }
.triangle-63 { animation-delay: 630ms; fill: #b8b8b8; }
.triangle-64 { animation-delay: 640ms; fill: #b7b7b7; }
.triangle-65 { animation-delay: 650ms; fill: #a8a8a8; }
.triangle-66 { animation-delay: 660ms; fill: #aaaaaa; }
.triangle-67 { animation-delay: 670ms; fill: #c2c2c2; }
.triangle-68 { animation-delay: 680ms; fill: #a6a6a6; }
.triangle-69 { animation-delay: 690ms; fill: #b4b4b4; }
.triangle-70 { animation-delay: 700ms; fill: #b1b1b1; }
.triangle-71 { animation-delay: 710ms; fill: #aeaeae; }
.triangle-72 { animation-delay: 720ms; fill: #292929; }
.triangle-73 { animation-delay: 730ms; fill: #eaeaea; }
.triangle-74 { animation-delay: 740ms; fill: #f7f7f7; }
.triangle-75 { animation-delay: 750ms; fill: #b8b8b8; }
.triangle-76 { animation-delay: 760ms; fill: #a8a8a8; }
.triangle-77 { animation-delay: 770ms; fill: #a1a1a1; }
.triangle-78 { animation-delay: 780ms; fill: #9c9c9c; }
.triangle-79 { animation-delay: 790ms; fill: #a7a7a7; }
.triangle-80 { animation-delay: 800ms; fill: #858585; }
.triangle-81 { animation-delay: 810ms; fill: #979797; }
.triangle-82 { animation-delay: 820ms; fill: #909090; }
.triangle-83 { animation-delay: 830ms; fill: #959595; }
.triangle-84 { animation-delay: 840ms; fill: #7d7d7d; }
.triangle-85 { animation-delay: 850ms; fill: #868686; }
.triangle-86 { animation-delay: 860ms; fill: #686868; }
.triangle-87 { animation-delay: 870ms; fill: #656565; }
.triangle-88 { animation-delay: 880ms; fill: #c5c5c5; }
.triangle-89 { animation-delay: 890ms; fill: #bababa; }
.triangle-90 { animation-delay: 900ms; fill: #bdbdbd; }
.triangle-91 { animation-delay: 910ms; fill: #c4c4c4; }
.triangle-92 { animation-delay: 920ms; fill: #b9b9b9; }
.triangle-93 { animation-delay: 930ms; fill: #a8a8a8; }
.triangle-94 { animation-delay: 940ms; fill: #b8b8b8; }
.triangle-95 { animation-delay: 950ms; fill: #a9a9a9; }
.triangle-96 { animation-delay: 960ms; fill: #b8b8b8; }
.triangle-97 { animation-delay: 970ms; fill: #ababab; }
.triangle-98 { animation-delay: 980ms; fill: #747474; }
.triangle-99 { animation-delay: 990ms; fill: #a5a5a5; }
.triangle-100 { animation-delay: 1000ms; fill: #626262; }
.triangle-101 { animation-delay: 1010ms; fill: #858585; }
.triangle-102 { animation-delay: 1020ms; fill: #5e5e5e; }
.triangle-103 { animation-delay: 1030ms; fill: #878787; }
.triangle-104 { animation-delay: 1040ms; fill: #818181; }
.triangle-105 { animation-delay: 1050ms; fill: #626262; }
.triangle-106 { animation-delay: 1060ms; fill: #7b7b7b; }
.triangle-107 { animation-delay: 1070ms; fill: #5e5e5e; }
.triangle-108 { animation-delay: 1080ms; fill: #7a7a7a; }
.triangle-109 { animation-delay: 1090ms; fill: #838383; }
.triangle-110 { animation-delay: 1100ms; fill: #6f6f6f; }
.triangle-111 { animation-delay: 1110ms; fill: #a1a1a1; }
.triangle-112 { animation-delay: 1120ms; fill: #797979; }
.triangle-113 { animation-delay: 1130ms; fill: #7e7e7e; }
.triangle-114 { animation-delay: 1140ms; fill: #727272; }
.triangle-115 { animation-delay: 1150ms; fill: #767676; }
.triangle-116 { animation-delay: 1160ms; fill: #7f7f7f; }
.triangle-117 { animation-delay: 1170ms; fill: #7f7f7f; }
.triangle-118 { animation-delay: 1180ms; fill: #7e7e7e; }
.triangle-119 { animation-delay: 1190ms; fill: #757575; }
.triangle-120 { animation-delay: 1200ms; fill: #7d7d7d; }
.triangle-121 { animation-delay: 1210ms; fill: #656565; }
.triangle-122 { animation-delay: 1220ms; fill: #747474; }
.triangle-123 { animation-delay: 1230ms; fill: #7f7f7f; }
.triangle-124 { animation-delay: 1240ms; fill: #828282; }
.triangle-125 { animation-delay: 1250ms; fill: #979797; }
.triangle-126 { animation-delay: 1260ms; fill: #575757; }
.triangle-127 { animation-delay: 1270ms; fill: #747474; }
.triangle-128 { animation-delay: 1280ms; fill: #5d5d5d; }
.triangle-129 { animation-delay: 1290ms; fill: #686868; }
.triangle-130 { animation-delay: 1300ms; fill: #797979; }
.triangle-131 { animation-delay: 1310ms; fill: #797979; }
.triangle-132 { animation-delay: 1320ms; fill: #6e6e6e; }
.triangle-133 { animation-delay: 1330ms; fill: #747474; }
.triangle-134 { animation-delay: 1340ms; fill: #656565; }
.triangle-135 { animation-delay: 1350ms; fill: #565656; }
.triangle-136 { animation-delay: 1360ms; fill: #626262; }
.triangle-137 { animation-delay: 1370ms; fill: #7e7e7e; }
.triangle-138 { animation-delay: 1380ms; fill: #6d6d6d; }
.triangle-139 { animation-delay: 1390ms; fill: #575757; }
.triangle-140 { animation-delay: 1400ms; fill: #626262; }
.triangle-141 { animation-delay: 1410ms; fill: #eaeaea; }
.triangle-142 { animation-delay: 1420ms; fill: #fbfbfb; }
.triangle-143 { animation-delay: 1430ms; fill: #f3f3f3; }
.triangle-144 { animation-delay: 1440ms; fill: #a9a9a9; }
.triangle-145 { animation-delay: 1450ms; fill: #b9b9b9; }
.triangle-146 { animation-delay: 1460ms; fill: #fdfdfd; }
.triangle-147 { animation-delay: 1470ms; fill: #e7e7e7; }
.triangle-148 { animation-delay: 1480ms; fill: #999999; }
.triangle-149 { animation-delay: 1490ms; fill: #a5a5a5; }
.triangle-150 { animation-delay: 1500ms; fill: #fcfcfc; }
.triangle-151 { animation-delay: 1510ms; fill: #ececec; }
.triangle-152 { animation-delay: 1520ms; fill: #e1e1e1; }
.triangle-153 { animation-delay: 1530ms; fill: #e2e2e2; }
.triangle-154 { animation-delay: 1540ms; fill: #f9f9f9; }
.triangle-155 { animation-delay: 1550ms; fill: #ededed; }
.triangle-156 { animation-delay: 1560ms; fill: #f4f4f4; }
.triangle-157 { animation-delay: 1570ms; fill: #fafafa; }
.triangle-158 { animation-delay: 1580ms; fill: #bdbdbd; }
.triangle-159 { animation-delay: 1590ms; fill: #9d9d9d; }
.triangle-160 { animation-delay: 1600ms; fill: #b7b7b7; }
.triangle-161 { animation-delay: 1610ms; fill: #222222; }
.triangle-162 { animation-delay: 1620ms; fill: #fbfbfb; }
.triangle-163 { animation-delay: 1630ms; fill: #ebebeb; }
.triangle-164 { animation-delay: 1640ms; fill: #e6e6e6; }
.triangle-165 { animation-delay: 1650ms; fill: #060606; }
.triangle-166 { animation-delay: 1660ms; fill: #232323; }
.triangle-167 { animation-delay: 1670ms; fill: #202020; }
.triangle-168 { animation-delay: 1680ms; fill: #1a1a1a; }
.triangle-169 { animation-delay: 1690ms; fill: #1f1f1f; }
.triangle-170 { animation-delay: 1700ms; fill: #232323; }
.triangle-171 { animation-delay: 1710ms; fill: #e9e9e9; }
.triangle-172 { animation-delay: 1720ms; fill: #050505; }
.triangle-173 { animation-delay: 1730ms; fill: #090909; }
.triangle-174 { animation-delay: 1740ms; fill: #e9e9e9; }
.triangle-175 { animation-delay: 1750ms; fill: #313131; }
.triangle-176 { animation-delay: 1760ms; fill: #232323; }
.triangle-177 { animation-delay: 1770ms; fill: #060606; }
.triangle-178 { animation-delay: 1780ms; fill: #e9e9e9; }
.triangle-179 { animation-delay: 1790ms; fill: #232323; }
.triangle-180 { animation-delay: 1800ms; fill: #e3e3e3; }
.triangle-181 { animation-delay: 1810ms; fill: #555555; }
.triangle-182 { animation-delay: 1820ms; fill: #7a7a7a; }
.triangle-183 { animation-delay: 1830ms; fill: #141414; }
.triangle-184 { animation-delay: 1840ms; fill: #606060; }
.triangle-185 { animation-delay: 1850ms; fill: #0f0f0f; }
.triangle-186 { animation-delay: 1860ms; fill: #6a6a6a; }
.triangle-187 { animation-delay: 1870ms; fill: #121212; }
.triangle-188 { animation-delay: 1880ms; fill: #333333; }
.triangle-189 { animation-delay: 1890ms; fill: #333333; }
.triangle-190 { animation-delay: 1900ms; fill: #2e2e2e; }
.triangle-191 { animation-delay: 1910ms; fill: #252525; }
.triangle-192 { animation-delay: 1920ms; fill: #282828; }
.triangle-193 { animation-delay: 1930ms; fill: #212121; }
.triangle-194 { animation-delay: 1940ms; fill: #171717; }
.triangle-195 { animation-delay: 1950ms; fill: #191919; }
.triangle-196 { animation-delay: 1960ms; fill: #232323; }
.triangle-197 { animation-delay: 1970ms; fill: #303030; }
.triangle-198 { animation-delay: 1980ms; fill: #6e6e6e; }
.triangle-199 { animation-delay: 1990ms; fill: #f7f7f7; }
.triangle-200 { animation-delay: 2000ms; fill: #fcfcfc; }
.triangle-201 { animation-delay: 2010ms; fill: #f9f9f9; }
.triangle-202 { animation-delay: 2020ms; fill: #f0f0f0; }
.triangle-203 { animation-delay: 2030ms; fill: #d9d9d9; }
.triangle-204 { animation-delay: 2040ms; fill: #c2c2c2; }
.triangle-205 { animation-delay: 2050ms; fill: #bbbbbb; }
.triangle-206 { animation-delay: 2060ms; fill: #949494; }
.triangle-207 { animation-delay: 2070ms; fill: #898989; }
.triangle-208 { animation-delay: 2080ms; fill: #282828; }
.triangle-209 { animation-delay: 2090ms; fill: #929292; }
.triangle-210 { animation-delay: 2100ms; fill: #2c2c2c; }
.triangle-211 { animation-delay: 2110ms; fill: #101010; }
.triangle-212 { animation-delay: 2120ms; fill: #1b1b1b; }
.triangle-213 { animation-delay: 2130ms; fill: #4e4e4e; }
.triangle-214 { animation-delay: 2140ms; fill: #1f1f1f; }
.triangle-215 { animation-delay: 2150ms; fill: #121212; }
.triangle-216 { animation-delay: 2160ms; fill: #e4e4e4; }
.triangle-217 { animation-delay: 2170ms; fill: #ececec; }
.triangle-218 { animation-delay: 2180ms; fill: #ebebeb; }
.triangle-219 { animation-delay: 2190ms; fill: #f0f0f0; }
.triangle-220 { animation-delay: 2200ms; fill: #ededed; }
.triangle-221 { animation-delay: 2210ms; fill: #f9f9f9; }
.triangle-222 { animation-delay: 2220ms; fill: #ececec; }
.triangle-223 { animation-delay: 2230ms; fill: #1e1e1e; }
.triangle-224 { animation-delay: 2240ms; fill: #252525; }
.triangle-225 { animation-delay: 2250ms; fill: #ededed; }
.triangle-226 { animation-delay: 2260ms; fill: #f6f6f6; }
.triangle-227 { animation-delay: 2270ms; fill: #e4e4e4; }
.triangle-228 { animation-delay: 2280ms; fill: #595959; }
.triangle-229 { animation-delay: 2290ms; fill: #696969; }
.triangle-230 { animation-delay: 2300ms; fill: #737373; }
.triangle-231 { animation-delay: 2310ms; fill: #616161; }
.triangle-232 { animation-delay: 2320ms; fill: #656565; }
.triangle-233 { animation-delay: 2330ms; fill: #828282; }
.triangle-234 { animation-delay: 2340ms; fill: #757575; }
.triangle-235 { animation-delay: 2350ms; fill: #e5e5e5; }
.triangle-236 { animation-delay: 2360ms; fill: #7f7f7f; }
.triangle-237 { animation-delay: 2370ms; fill: #686868; }
.triangle-238 { animation-delay: 2380ms; fill: #6b6b6b; }
.triangle-239 { animation-delay: 2390ms; fill: #6e6e6e; }
.triangle-240 { animation-delay: 2400ms; fill: #4d4d4d; }
.triangle-241 { animation-delay: 2410ms; fill: #606060; }
.triangle-242 { animation-delay: 2420ms; fill: #7c7c7c; }
.triangle-243 { animation-delay: 2430ms; fill: #6c6c6c; }
.triangle-244 { animation-delay: 2440ms; fill: #797979; }
.triangle-245 { animation-delay: 2450ms; fill: #676767; }
.triangle-246 { animation-delay: 2460ms; fill: #797979; }
.triangle-247 { animation-delay: 2470ms; fill: #7c7c7c; }
.triangle-248 { animation-delay: 2480ms; fill: #646464; }
.triangle-249 { animation-delay: 2490ms; fill: #878787; }
.triangle-250 { animation-delay: 2500ms; fill: #6e6e6e; }
.triangle-251 { animation-delay: 2510ms; fill: #6d6d6d; }
.triangle-252 { animation-delay: 2520ms; fill: #a7a7a7; }
.triangle-253 { animation-delay: 2530ms; fill: #b5b5b5; }
.triangle-254 { animation-delay: 2540ms; fill: #dedede; }
.triangle-255 { animation-delay: 2550ms; fill: #5a5a5a; }
.triangle-256 { animation-delay: 2560ms; fill: #222222; }
.triangle-257 { animation-delay: 2570ms; fill: #292929; }
.triangle-258 { animation-delay: 2580ms; fill: #4e4e4e; }
.triangle-259 { animation-delay: 2590ms; fill: #0b0b0b; }
.triangle-260 { animation-delay: 2600ms; fill: #313131; }
.triangle-261 { animation-delay: 2610ms; fill: #777777; }
.triangle-262 { animation-delay: 2620ms; fill: #757575; }
.triangle-263 { animation-delay: 2630ms; fill: #4d4d4d; }
.triangle-264 { animation-delay: 2640ms; fill: #656565; }
.triangle-265 { animation-delay: 2650ms; fill: #dddddd; }
.triangle-266 { animation-delay: 2660ms; fill: #7e7e7e; }
.triangle-267 { animation-delay: 2670ms; fill: #595959; }
.triangle-268 { animation-delay: 2680ms; fill: #6e6e6e; }
.triangle-269 { animation-delay: 2690ms; fill: #727272; }
.triangle-270 { animation-delay: 2700ms; fill: #6a6a6a; }
.triangle-271 { animation-delay: 2710ms; fill: #151515; }
.triangle-272 { animation-delay: 2720ms; fill: #6b6b6b; }
.triangle-273 { animation-delay: 2730ms; fill: #b6b6b6; }
.triangle-274 { animation-delay: 2740ms; fill: #c2c2c2; }
.triangle-275 { animation-delay: 2750ms; fill: #adadad; }
.triangle-276 { animation-delay: 2760ms; fill: #b2b2b2; }
.triangle-277 { animation-delay: 2770ms; fill: #b5b5b5; }
.triangle-278 { animation-delay: 2780ms; fill: #b4b4b4; }
.triangle-279 { animation-delay: 2790ms; fill: #c6c6c6; }
.triangle-280 { animation-delay: 2800ms; fill: #232323; }
.triangle-281 { animation-delay: 2810ms; fill: #242424; }
.triangle-282 { animation-delay: 2820ms; fill: #131313; }
.triangle-283 { animation-delay: 2830ms; fill: #b2b2b2; }
.triangle-284 { animation-delay: 2840ms; fill: #757575; }
.triangle-285 { animation-delay: 2850ms; fill: #9a9a9a; }
.triangle-286 { animation-delay: 2860ms; fill: #696969; }
.triangle-287 { animation-delay: 2870ms; fill: #b1b1b1; }
.triangle-288 { animation-delay: 2880ms; fill: #8a8a8a; }
.triangle-289 { animation-delay: 2890ms; fill: #a8a8a8; }
.triangle-290 { animation-delay: 2900ms; fill: #a3a3a3; }
.triangle-291 { animation-delay: 2910ms; fill: #969696; }
.triangle-292 { animation-delay: 2920ms; fill: #b2b2b2; }
.triangle-293 { animation-delay: 2930ms; fill: #333333; }
.triangle-294 { animation-delay: 2940ms; fill: #aeaeae; }
.triangle-295 { animation-delay: 2950ms; fill: #a1a1a1; }
.triangle-296 { animation-delay: 2960ms; fill: #9f9f9f; }
.triangle-297 { animation-delay: 2970ms; fill: #a0a0a0; }
.triangle-298 { animation-delay: 2980ms; fill: #949494; }
.triangle-299 { animation-delay: 2990ms; fill: #a6a6a6; }
.triangle-300 { animation-delay: 3000ms; fill: #979797; }
.triangle-301 { animation-delay: 3010ms; fill: #aaaaaa; }
.triangle-302 { animation-delay: 3020ms; fill: #a5a5a5; }
.triangle-303 { animation-delay: 3030ms; fill: #aeaeae; }
.triangle-304 { animation-delay: 3040ms; fill: #989898; }
.triangle-305 { animation-delay: 3050ms; fill: #959595; }
.triangle-306 { animation-delay: 3060ms; fill: #919191; }
.triangle-307 { animation-delay: 3070ms; fill: #b9b9b9; }
.triangle-308 { animation-delay: 3080ms; fill: #aeaeae; }
.triangle-309 { animation-delay: 3090ms; fill: #a7a7a7; }
.triangle-310 { animation-delay: 3100ms; fill: #adadad; }
.triangle-311 { animation-delay: 3110ms; fill: #9e9e9e; }
.triangle-312 { animation-delay: 3120ms; fill: #b6b6b6; }
.triangle-313 { animation-delay: 3130ms; fill: #191919; }
.triangle-314 { animation-delay: 3140ms; fill: #222222; }
.triangle-315 { animation-delay: 3150ms; fill: #111111; }
.triangle-316 { animation-delay: 3160ms; fill: #6f6f6f; }
.triangle-317 { animation-delay: 3170ms; fill: #6d6d6d; }
.triangle-318 { animation-delay: 3180ms; fill: #666666; }
.triangle-319 { animation-delay: 3190ms; fill: #a0a0a0; }
.triangle-320 { animation-delay: 3200ms; fill: #989898; }
.triangle-321 { animation-delay: 3210ms; fill: #a5a5a5; }
.triangle-322 { animation-delay: 3220ms; fill: #929292; }
.triangle-323 { animation-delay: 3230ms; fill: #9c9c9c; }
.triangle-324 { animation-delay: 3240ms; fill: #999999; }
.triangle-325 { animation-delay: 3250ms; fill: #a6a6a6; }
.triangle-326 { animation-delay: 3260ms; fill: #8b8b8b; }
.triangle-327 { animation-delay: 3270ms; fill: #8d8d8d; }
.triangle-328 { animation-delay: 3280ms; fill: #999999; }
.triangle-329 { animation-delay: 3290ms; fill: #9f9f9f; }
.triangle-330 { animation-delay: 3300ms; fill: #9a9a9a; }
.triangle-331 { animation-delay: 3310ms; fill: #a3a3a3; }
.triangle-332 { animation-delay: 3320ms; fill: #a4a4a4; }
.triangle-333 { animation-delay: 3330ms; fill: #a4a4a4; }
.triangle-334 { animation-delay: 3340ms; fill: #5c5c5c; }
.triangle-335 { animation-delay: 3350ms; fill: #9b9b9b; }
.triangle-336 { animation-delay: 3360ms; fill: #7d7d7d; }
.triangle-337 { animation-delay: 3370ms; fill: #949494; }
.triangle-338 { animation-delay: 3380ms; fill: #9b9b9b; }
.triangle-339 { animation-delay: 3390ms; fill: #aaaaaa; }
.triangle-340 { animation-delay: 3400ms; fill: #9f9f9f; }
.triangle-341 { animation-delay: 3410ms; fill: #6f6f6f; }
.triangle-342 { animation-delay: 3420ms; fill: #6b6b6b; }
.triangle-343 { animation-delay: 3430ms; fill: #646464; }
.triangle-344 { animation-delay: 3440ms; fill: #808080; }
.triangle-345 { animation-delay: 3450ms; fill: #646464; }
.triangle-346 { animation-delay: 3460ms; fill: #929292; }
.triangle-347 { animation-delay: 3470ms; fill: #a2a2a2; }
.triangle-348 { animation-delay: 3480ms; fill: #999999; }
.triangle-349 { animation-delay: 3490ms; fill: #989898; }
.triangle-350 { animation-delay: 3500ms; fill: #929292; }
.triangle-351 { animation-delay: 3510ms; fill: #a8a8a8; }
.triangle-352 { animation-delay: 3520ms; fill: #9b9b9b; }
.triangle-353 { animation-delay: 3530ms; fill: #8f8f8f; }
.triangle-354 { animation-delay: 3540ms; fill: #969696; }
.triangle-355 { animation-delay: 3550ms; fill: #979797; }
.triangle-356 { animation-delay: 3560ms; fill: #9c9c9c; }
.triangle-357 { animation-delay: 3570ms; fill: #8a8a8a; }
.triangle-358 { animation-delay: 3580ms; fill: #898989; }
.triangle-359 { animation-delay: 3590ms; fill: #585858; }
.triangle-360 { animation-delay: 3600ms; fill: #a9a9a9; }
.triangle-361 { animation-delay: 3610ms; fill: #a7a7a7; }
.triangle-362 { animation-delay: 3620ms; fill: #c0c0c0; }
.triangle-363 { animation-delay: 3630ms; fill: #b4b4b4; }
.triangle-364 { animation-delay: 3640ms; fill: #5d5d5d; }
.triangle-365 { animation-delay: 3650ms; fill: #252525; }
.triangle-366 { animation-delay: 3660ms; fill: #bcbcbc; }
.triangle-367 { animation-delay: 3670ms; fill: #a8a8a8; }
.triangle-368 { animation-delay: 3680ms; fill: #959595; }
.triangle-369 { animation-delay: 3690ms; fill: #969696; }
.triangle-370 { animation-delay: 3700ms; fill: #909090; }
.triangle-371 { animation-delay: 3710ms; fill: #9e9e9e; }
.triangle-372 { animation-delay: 3720ms; fill: #9d9d9d; }
.triangle-373 { animation-delay: 3730ms; fill: #9d9d9d; }
.triangle-374 { animation-delay: 3740ms; fill: #999999; }
.triangle-375 { animation-delay: 3750ms; fill: #929292; }
.triangle-376 { animation-delay: 3760ms; fill: #979797; }
.triangle-377 { animation-delay: 3770ms; fill: #9c9c9c; }
.triangle-378 { animation-delay: 3780ms; fill: #979797; }
.triangle-379 { animation-delay: 3790ms; fill: #939393; }
.triangle-380 { animation-delay: 3800ms; fill: #919191; }
.triangle-381 { animation-delay: 3810ms; fill: #969696; }
.triangle-382 { animation-delay: 3820ms; fill: #959595; }
.triangle-383 { animation-delay: 3830ms; fill: #9d9d9d; }
.triangle-384 { animation-delay: 3840ms; fill: #4d4d4d; }
.triangle-385 { animation-delay: 3850ms; fill: #585858; }
.triangle-386 { animation-delay: 3860ms; fill: #5f5f5f; }
.triangle-387 { animation-delay: 3870ms; fill: #6b6b6b; }
.triangle-388 { animation-delay: 3880ms; fill: #666666; }
.triangle-389 { animation-delay: 3890ms; fill: #7c7c7c; }
.triangle-390 { animation-delay: 3900ms; fill: #767676; }
.triangle-391 { animation-delay: 3910ms; fill: #afafaf; }
.triangle-392 { animation-delay: 3920ms; fill: #b8b8b8; }
.triangle-393 { animation-delay: 3930ms; fill: #b9b9b9; }
.triangle-394 { animation-delay: 3940ms; fill: #acacac; }
.triangle-395 { animation-delay: 3950ms; fill: #a2a2a2; }
.triangle-396 { animation-delay: 3960ms; fill: #9e9e9e; }
.triangle-397 { animation-delay: 3970ms; fill: #a0a0a0; }
.triangle-398 { animation-delay: 3980ms; fill: #949494; }
.triangle-399 { animation-delay: 3990ms; fill: #8a8a8a; }
.triangle-400 { animation-delay: 4000ms; fill: #9f9f9f; }
.triangle-401 { animation-delay: 4010ms; fill: #9c9c9c; }
.triangle-402 { animation-delay: 4020ms; fill: #9c9c9c; }
.triangle-403 { animation-delay: 4030ms; fill: #959595; }
.triangle-404 { animation-delay: 4040ms; fill: #999999; }
.triangle-405 { animation-delay: 4050ms; fill: #7d7d7d; }
.triangle-406 { animation-delay: 4060ms; fill: #989898; }
.triangle-407 { animation-delay: 4070ms; fill: #555555; }
.triangle-408 { animation-delay: 4080ms; fill: #313131; }
.triangle-409 { animation-delay: 4090ms; fill: #121212; }
.triangle-410 { animation-delay: 4100ms; fill: #6c6c6c; }
.triangle-411 { animation-delay: 4110ms; fill: #6a6a6a; }
.triangle-412 { animation-delay: 4120ms; fill: #333333; }
.triangle-413 { animation-delay: 4130ms; fill: #868686; }
.triangle-414 { animation-delay: 4140ms; fill: #878787; }
.triangle-415 { animation-delay: 4150ms; fill: #313131; }
.triangle-416 { animation-delay: 4160ms; fill: #616161; }
.triangle-417 { animation-delay: 4170ms; fill: #c6c6c6; }
.triangle-418 { animation-delay: 4180ms; fill: #1f1f1f; }
.triangle-419 { animation-delay: 4190ms; fill: #656565; }
.triangle-420 { animation-delay: 4200ms; fill: #333333; }
.triangle-421 { animation-delay: 4210ms; fill: #6d6d6d; }
.triangle-422 { animation-delay: 4220ms; fill: #313131; }
.triangle-423 { animation-delay: 4230ms; fill: #757575; }
.triangle-424 { animation-delay: 4240ms; fill: #878787; }
.triangle-425 { animation-delay: 4250ms; fill: #4d4d4d; }
.triangle-426 { animation-delay: 4260ms; fill: #ececec; }
.triangle-427 { animation-delay: 4270ms; fill: #878787; }
