:root {
  --white: #fff;
  --red: #e3988a;
  --grey: #313131;
  --green: #a8e39a;
  --blue: #8ab8e3;
  --quoteHeight: 4rem;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100);

@keyframes appear {
  0% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }

  10% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }

  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

@keyframes switch {
  0% {
    transform: translateY(0);
  }

  19% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(calc(-1 * var(--quoteHeight)));
  }

  39% {
    transform: translateY(calc(-1 * var(--quoteHeight)));
  }

  40% {
    transform: translateY(calc(-2 * var(--quoteHeight)));
  }

  59% {
    transform: translateY(calc(-2 * var(--quoteHeight)));
  }

  60% {
    transform: translateY(calc(-3 * var(--quoteHeight)));
  }

  79% {
    transform: translateY(calc(-3 * var(--quoteHeight)));
  }

  80% {
    transform: translateY(calc(-4 * var(--quoteHeight)));
  }

  99% {
    transform: translateY(calc(-4 * var(--quoteHeight)));
  }

  99.5% {
    transform: translateY(calc(-4.5 * var(--quoteHeight)));
    animation-timing-function: step-start;
  }

  99.51% {
    transform: translateY(calc(0.5 * var(--quoteHeight)));
    animation-timing-function: linear;
  }

  100% {
    transform: translateY(calc(0 * var(--quoteHeight)));
  }
}

html {
  font-family: 'Roboto Mono', monospace;
  color: var(--grey);
  background: var(--white);
}

html,
body {
  height: 100%;
}

html,
body,
div,
svg,
p,
h1,
h2,
a {
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.landingpage {
  height: 100%;
  max-height: 100%;
  width: 100%;
  background: var(--red);
  overflow: hidden;

  & > svg {
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -550px;
    height: 1200px;
    width: 848px;
  }

  & > .title {
    position: absolute;
    color: var(--grey);
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    white-space: nowrap;
  }
}

.listentome,
.followme,
.contactme {
  width: 100%;
  text-align: center;
}

.listentome {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: var(--grey);
  color: var(--white);
  font-size: 3rem;
  line-height: 4rem;
  overflow: hidden;

  & p {
    height: 4rem;
    overflow: hidden;
  }

  & .quote {
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    animation: switch;
    animation-duration: 15000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  & .design {
    color: var(--green);
  }

  & .development {
    color: var(--blue);
  }
}

.followme {
  padding-top: 5rem;
  padding-bottom: 4rem;

  & > p {
    display: inline-block;
  }

  & > a {
    margin: 0 1rem 1.5rem;
    display: inline-block;

    &:hover > svg path {
      fill-opacity: 1;
      stroke-opacity: 0;
    }
  }

  & svg {
    width: 5rem;
    height: 5rem;
  }

  & path {
    fill-opacity: 0;
    stroke-opacity: 1;
    fill: var(--red);
    stroke: var(--grey);
    stroke-width: 0.1rem;
  }
}

.contactme {
  padding: 4rem 0;
  background: var(--red);
  color: var(--white);

  & > p {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 35rem;
    white-space: pre-line;
  }

  & > a {
    display: inline-block;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: 100;
    font-size: 2rem;

    &:hover {
      border-color: var(--red);
      background: var(--white);
      color: var(--grey);
    }
  }
}

.portrait-path {
  stroke-opacity: 0;
  fill-opacity: 1;
  stroke: var(--grey);
  stroke-width: 1px;
  pointer-events: all;
  animation: appear 500ms ease;
  animation-fill-mode: backwards;

  &:hover {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
}

@import "triangles";
