<div class="followme">
  {{#links}}
  <a href="{{link}}" target="_blank">
    <svg viewbox="0 0 141.7325 141.7325">
      <path d="{{d}}" />
    </svg>
  </a>
  {{/links}}
  <br/>
  <p>{{label}}</p>
</div>
