<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>{{title}}</title>
     <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    {{#bug}}
    {{/bug}}
    {{#landingpage}}{{>landingpage}}{{/landingpage}}
    {{#listentome}}{{>listentome}}{{/listentome}}
    {{#followme}}{{>followme}}{{/followme}}
    {{#contactme}}{{>contactme}}{{/contactme}}
  </body>
</html>
