<div class="landingpage">
  <svg viewbox="0 0 744.09448819 1052.3622047">
    {{#portrait}}
    <path class="portrait-path {{className}}" d="{{d}}" />
    {{/portrait}}
  </svg>
  <div class="title">{{title}}</div>
</div>
