<div class="listentome">
  <p>
    <span>I love </span>
    <span class="quote">
      {{#quotes}}
      <span><span class="design">{{design}}</span> and <span class="development">{{development}}</span>.</span><br/>
      {{/quotes}}
    <span>
</div>
