<div class="listentome">
  <p>
    <span>I love </span>
    <span class="quote">
      {{#quotes}}
      <span><span class="design">{{design}}</span> <span class="and">and</span> <span class="development">{{development}}</span><span class="dot">.</span></span><br/>
      {{/quotes}}
    <span>
</div>
